<h1>Find Your Perfect Project Partner</h1>

<%= form_for @quiz do |f| %>
  <% @quizzes.each do |quiz| %><br>
  <h3><%= quiz.question %></h3>
  <p><%= f.collection_radio_buttons :quiz_id, @quizzes, :id, :answer_1 %><br>
  <!-- <%= f.collection_radio_buttons :id, [quiz], :answer_2, :answer_2 %><br></p> -->
  <% end %>
  <%= f.submit "Get Your Results!" %>
<% end %>
