<h3>Find Your Perfect Match!</h3>
<br>
<%= form_tag '/user_answers', method: :post %>
<% Question.all.each do |question| %>
    <h6><%= question.content %></h6>
    <% question.answers.each do |answer| %>
      <%= radio_button_tag "user_answers[question_#{question.id}]",  answer.id %>
      <%= label_tag answer.id, answer.content %><br>
    <% end %>
<% end %>
<%= submit_tag %>
