
<div class="jumbotron">

  <h3> <%= @user.name %>'s Work Personality</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h1> <%= @user.name %>: </h1>

        <% if @user.answers.empty? %>
          <%= link_to "Get Your Matches!", new_user_answer_path %>
          <% else %>
            <%= @user.show_categories %>

            <h1>Accept requests: </h1>
              <% @requests.each do |request| %>
              <% your_request = User.find(request.user2_id) %>
              <%= link_to your_request.name, match_path(request.id) %>
              <br/>
              <% end %>

            <h1>Send a request: </h1>
              <% @potential_matches.each do |match| %>
              <p><% your_match = User.find(match.user2_id)%></p>
                <%= link_to your_match.name, potential_match_path(match.id)%>
                <br/>
            <% end %>

          <h1>Matches made: </h1>
            <% @matches.each do |match| %>
            <% your_match = User.find(match.user2_id) %>
            <%= your_match.name %>
            <br/>
            <% end %>

          <h3>Want to try again?</h3>
          <%= link_to "Find New Partners!", new_user_answer_path %>
        <% end %>
    </div>
    <div class="col">
      2 of 2
    </div>
  </div>

  <div class="jumbotron">

    <h3>Your Partners</h3>

  </div>
