<h1>Matches for <%= @user.name %>: </h1>

  <% if @user.answers.empty? %>
    <%= link_to "Get Your Matches!", new_user_answer_path %>
    <% else %>
      <%= @user.show_categories %>
      <% @matches.each do |match| %>
      <p><%= link_to match.name, user_path(match) %><br/></p>
    <% end %>
    <h3>Want to try again?</h3>
    <%= link_to "Find New Partners!", new_user_answer_path %>
  <% end %>
