<% if @user.id == session[:user_id] %>
<div class="jumbotron profile-jumbotron profile-banner">


  <h3> <%= @user.name %>'s Work Personality</h3>
  <% if @user.answers.empty? %>
  <p> You don't have any potential project partners! Take the quiz to find out who would work best with you!</p>
    <%= link_to "Get Your Matches!", new_user_answer_path %>
    <br>
    <% else %>
      <p><%= @user.show_categories %></p>
      <h5>Want to try again?</h5>
      <%= link_to "Find New Partners!", new_user_answer_path %>

</div>

<div class="container bg-green">
  <div class="row">
    <div class="col">
      <h3> Potential Project Partners </h3>
            <h6>Send a request: </h6>
              <% @potential_matches.each do |match| %>
                <% your_match = User.find(match.user2_id)%>
                <p><%= link_to your_match.name, redirect_user_path(match.id)%></p>
                <br/>
            <% end %>


    </div>
    <div class="col">
      <h3>Your Partner Requests</h3>
      <h6>Accept requests: </h6>
        <% @requests.each do |request| %>
        <% your_request = User.find(request.user2_id) %>
        <p><%= link_to your_request.name, match_path(request.id)%></p>
        <br/>
        <% end %>
    </div>
  </div>
</div>
<br>
  <div class="jumbotron profile-jumbotron officalp-banner">

    <h3>Your Official Partners </h3>
      <% @matches.each do |match| %>
      <% your_match = User.find(match.user2_id) %>
      <p><%= your_match.name %></p>
      <% end %>

  <% end %>

  </div>
<% else %>
<p> test </p>
<% end %>
