<div class="jumbotron jumbotron-fluid banner">

  <h1 style="text-align:center;"> Welcome to Picky Partners </h1>
  <h5 style="text-align:center;"> Find Your Perfect Project Partner Today!</h5>
  <br/>
    <form style="text-align:center;">
      <%= form_tag sessions_path do %>
      <div class="form-group">
         <%= label_tag "Username", "Username" %>
         <%= text_field_tag :username %>
       </div>

      <div class="form-group">
        <%= label_tag "Password" %>
        <%= password_field_tag :password, class:"form-control" %>
      </div>

      <%= submit_tag "Login", class:"btn btn-primary" %>
      <% end %>
    </form>

  <p style="text-align:center;"><%= link_to "Register", new_user_path %></p>

</div>
