<h1> Welcome to Picky Partners </h1>
<h3> Find Your Perfect Project Partner Today!</h3>

<%= form_tag sessions_path do %>
  <%= label_tag "Username" %>
  <%= text_field_tag :username %>
  <%= label_tag "Password" %>
  <%= password_field_tag :password %>
  <%= submit_tag "Login" %>
<% end %>


<p><%= link_to "Register", new_user_path %></p>
